
@{
    ViewData["Title"] = "UrediNumericka";
}

<h2>UrediNumericka</h2>

@model Stavke_UrediNVM

<form asp-action="SnimiNumericka" ajax-poziv="da" ajax-rezultat="divID">
    
    <input asp-for="stavkaID" hidden />

    Pretraga:<br />
    <input asp-for="pretraga" readonly />
    <br /><br />

    Izmjerena vrijednost:<br />
    <input asp-for="vrijednost" />
    <br /><br />

    <button class="btn btn-primary" >Snimi</button>
</form>