@{
    ViewBag.Title = "Index";
}
<h2>IB170160</h2>
<h2>Dobro došli</h2>

<br />
@Html.ActionLink("Ajax text", "Index", "AjaxTest")
<br />
@Html.ActionLink("OdrzaniCasController/Index", "Index", "OdrzaniCas")  << -- Potrebno implementirati!