
@{
    ViewData["Title"] = "Dodaj";
}

<h2>Dodaj</h2>

@model Cas_DodajVM

<form asp-action="Snimi" method="post">

    <input asp-for="nastavnikID" hidden />

    Nastavnik:<br />
    <input asp-for="nastavnik" readonly />
    <br /><br />

    Datum:<br />
    <input asp-for="datum" />
    <br /><br />

    Odjeljenje / Predmet:<br />
    <select asp-for="odjeljenjeID" asp-items="@Model._lista">
        <option>Odaberite</option>
    </select>
    <br /><br />

    <input type="submit" value="Snimi" class="btn btn-primary" />
</form>